@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.home {
    background-color: black;
}

.upper-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.green {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    margin-right: 10px;
}

.work>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(36, 36, 36);
    color: antiquewhite;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 24px;
    box-shadow: 0px 0px 20px rgb(142, 74, 171),
        15px 0px 20px rgb(171, 74, 74),
        0px 4px 3px rgb(245, 245, 245);
}

.name {
    font-size: 56px;
    font-weight: 700;
    color: azure;
    text-align: center;
    margin-top: 20px;
    font-family: 'Press Start 2P', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name span {
    margin-top: 30px;
    color: blueviolet;
    animation: fadeup 2s ease-in-out infinite alternate;
}

@keyframes fadeup {
    from {
        color: blueviolet;
    }

    to {
        color: rgb(73, 24, 120);
    }
}

.info button {
    color: beige;
    background-color: rgb(20, 20, 20);
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px 20px;
    font-size: 20px;
}

.below-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 80px 100px;

}