.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #000000eb;
    backdrop-filter: blur(8px);
}

.nav {
    border-bottom: 1px solid #1f1f1f;
    padding: 0.75rem 1rem;
}

.nav-container {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    color: #9333ea;
    font-size: 1.5rem;
}

.menu-toggle {
    display: block;
    background: none;
    border: none;
    color: #eae7e7;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 101;
}

.menu-toggle svg {
    width: 2rem;
    height: 2rem;
}

.nav-links-wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #0d0d0de6;
    backdrop-filter: blur(20px);
    transition: right 0.3s ease-in-out;
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.nav-links-wrapper.open {
    right: 0;
}

@media (min-width: 1024px) {
    .menu-toggle {
        display: none;
    }

    .nav-links-wrapper {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        background: none;
        backdrop-filter: none;
        display: flex;
        flex-direction: row;
        z-index: auto;
    }
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 500;
    list-style: none;
}

@media (min-width: 1024px) {
    .nav-links {
        flex-direction: row;
        gap: 2rem;
    }
}

.nav-link {
    color: #b3b3b3;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.125rem;
}

.nav-link:hover {
    color: #9333ea;
}

.nav-link.active {
    color: #9c5de4;
    border-bottom: 2px solid #9c5de4;
    padding-bottom: 4px;
}