.header {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #000000eb;
}


.nav {
    border-bottom: 1px solid #000000f4;
    padding: 10px 16px;
    font-size: 20px;
}

.nav-container {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    color: #9333ea;
    font-size: 1.5rem;
}

.nav-links-wrapper {
    display: none;
}

@media (min-width: 1024px) {
    .nav-links-wrapper {
        display: flex;
        width: auto;
        order: 1;
    }
}


.nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    font-weight: 500;

}

@media (min-width: 1024px) {
    .nav-links {
        flex-direction: row;
        gap: 2rem;
        margin-top: 0;
    }
}

.nav-link {
    color: #b3b3b3;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 18px;
}

.nav-link:hover {
    color: #9333ea;
}

.nav-link.active {
    color: #9c5de4;
    border-bottom: 2px solid #9c5de4;
    padding-bottom: 4px;
}