footer {
    background-color: black;
    color: #eae7e7;
    border-top: 1px solid #1f1f1f;
}

.footer {
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 4rem 5%;
    }
}

.footer-me h2 {
    color: #9c5de4;
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer-me p {
    font-size: 1rem;
    line-height: 1.6;
    color: #bab9b9;
}

.social {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}

.social a img {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s ease;
}

.social a:hover img {
    transform: translateY(-3px);
}

.Navigation h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.footer-nav {
    list-style: none;
    padding: 0;
}

.footer-nav li {
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

.footer-nav li::before {
    content: "→";
    color: #a855f7;
    margin-right: 0.5rem;
}

.contact h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.contact p {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
    color: #bab9b9;
}

.phone,
.email {
    width: 1.25rem;
    height: 1.25rem;
}